---
import Layout from '../layouts/Layout.astro';
import LandingPage from '../components/LandingPage.astro';



---

<Layout title="Dupa">
  <LandingPage />
</Layout>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    
  </body>
</html>


